{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_supporter/course_detail

    Template which outputs a table of courses.

    Classes required for JS:
    * dataTables

    Context variables required for this template:
    * courseDetails - array: course details.
    * rolesincourse - array: roles with id
    * roles - array: available roles and the amount in the course
    * users - array of arrays: users enrolled into the course
    * activities - array of arrays: activities used in the course
    * links - array: Links to the course, to its settings and for deleting it

    Example Input structure:
    Array (
      [courseDetails] => Array
          ([id] => 50
           [shortname] => FB03 Kurs short name
           [fullname] => FB03 Kurs full name
           [visible] => 0
           [fb] => FB03 Humanwissenschaften
           [semester] => WiSe 2016/17
           [enrolledUsers] => 1)

      [rolesincourse] => Array
          ([0] => manager
           [1] => editingteacher
           [2] => student)

      [roles] => Array
          ([0] => Array
              ([roleName] => manager
               [roleNumber] => 1)
           [1] => Array
              ([roleName] => editingteacher
               [roleNumber] => 1)
           [2] => Array
              ([roleName] => student
               [roleNumber] => 1))

      [users] => Array
          (
              [0] => Array
                  (
                      [id] => 3
                      [username] => username1
                      [firstname] => First Name 1
                      [lastname] => Surname 1
                      [roles] => Array
                          ([0] => manager
                           [1] => editingteacher
                           [2] => student)
                  )
          )

      [activities] => Array
          (
              [0] => Array
                  (
                      [section] => General
                      [activity] => forum
                      [name] => Announcements
                      [visible] => 1
                  )
          )

      [links] => Array
          (
              [settingslink] => http://127.0.0.1/course/edit.php?id=50
              [deletelink] => http://127.0.0.1/course/delete.php?id=50
              [courselink] => http://127.0.0.1/course/view.php?id=50
          )
    )


}}
<!--View details after clicking on a course in course table.  -->
<!-- <div style="display: none" data-region = "course_details" class="well well-sm">
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        {{#links}}
          <li><p class="brand"><a href="{{courselink}}" target="_blank">{{#courseDetails}}{{fullname}}{{/courseDetails}}</a></p></li>
      </ul>
      <ul class="nav pull-right">
          <li data-toggle="tooltip" title="{{#str}}deletecourse{{/str}}"><p class="navbar-btn"><a href="{{deletelink}}" target="_blank" class="btn btn-default">
            {{#pix}} i/completion-auto-fail, core, {{#str}}deletecourse{{/str}} {{/pix}}
          </a></p></li>
          <li data-toggle="tooltip" title="{{#str}}editsettings{{/str}}"><p class="navbar-btn"><a href="{{settingslink}}" target="_blank" class="btn btn-default">
            {{#pix}} i/edit, core, {{#str}}editsettings{{/str}} {{/pix}}
          </a></p></li>
        {{/links}}
        {{#courseDetails}}
          {{#visible}}
            <li><p class="navbar-btn"><a href="#"class="btn btn-default" id="show_course_visibility">
                {{#pix}} i/show, core, make visible {{/pix}}
            </a></p></li>
          {{/visible}}
          {{^visible}}
            <li><p class="navbar-btn"><a href="#"class="btn btn-default" id="hide_course_visibility">
                {{#pix}} i/hide, core, make invisible {{/pix}}
            </a></p></li>
          {{/visible}}
        {{/courseDetails}}
        <li data-toggle="tooltip" title="{{#str}}hide{{/str}}"><p class="navbar-btn"><a href="#" class="btn btn-default" id="hide_course_details">
          <span>{{#pix}} t/expanded, core, {{#str}}hide{{/str}} {{/pix}}</span>
        </a></p></li>
      </ul>
    </div>
  </div> -->
  <div style="display: none" data-region = "course_details" class="well well-sm">
    <ul class="nav nav-pills">
        {{#links}}
            <li class="active"><a href="{{courselink}}" target="_blank"><b>{{#courseDetails}}{{fullname}}{{/courseDetails}}</b></a></li>
            <li class = "pull-right" data-toggle="tooltip" title="{{#str}}hide{{/str}}"><p class="navbar-btn"><a href="#" class="btn btn-default" id="hide_course_details">
              <span>{{#pix}} t/expanded, core, {{#str}}hide{{/str}} {{/pix}}</span>
            </a></p></li>
            {{#courseDetails}}
              {{#visible}}
              <li class = "pull-right"><p class="navbar-btn"><a href="#"class="btn btn-default" id="show_course_visibility">
                  {{#pix}} i/show, core, make visible {{/pix}}
              </a></p></li>
            {{/visible}}
            {{^visible}}
              <li class = "pull-right"><p class="navbar-btn"><a href="#"class="btn btn-default" id="hide_course_visibility">
                  {{#pix}} i/hide, core, make invisible {{/pix}}
              </a></p></li>
            {{/visible}}
          {{/courseDetails}}
            <li class = "pull-right" data-toggle="tooltip" title="{{#str}}editsettings{{/str}}"><p class="navbar-btn"><a href="{{settingslink}}" target="_blank" class="btn btn-default">
              {{#pix}} i/edit, core, {{#str}}editsettings{{/str}} {{/pix}}
            </a></p></li>
            <li class = "pull-right" data-toggle="tooltip" title="{{#str}}deletecourse{{/str}}"><p class="navbar-btn"><a href="{{deletelink}}" target="_blank" class="btn btn-default">
              {{#pix}} i/completion-auto-fail, core, {{#str}}deletecourse{{/str}} {{/pix}}
            </a></p></li>
          {{/links}}
      </ul>

<!--Show course details  -->
<div class="table-responsive">
    <table class = "table table borderless">
      <tbody>
        {{#courseDetails}}
        <tr>
          <th>ID</th>
          <td id="selectedcourseid">{{id}}</td>
        </tr>
        <tr>
          <th>{{#str}}shortnamecourse{{/str}}</th>
          <td>{{shortname}}</td>
        </tr>
        <tr>
          <th>{{#str}}fullnamecourse{{/str}}</th>
          <td>{{fullname}}</td>
        </tr>
        <tr>
          <th>{{#str}}visible{{/str}}</th>
          <td>{{visible}}</td>
        </tr>
        <tr>
          <th>{{#str}}path{{/str}}</th>
          <td>{{pfad}}</td>
        </tr>
        <tr>
          <th>{{#str}}users{{/str}}</th>
          <td>{{enrolledUsers}}</td> <!--Number of enrolled users-->
        </tr>
        {{/courseDetails}}
        {{#roles}}
        <tr>
          <th>{{roleName}}</th>
          <td>{{roleNumber}}</td> <!--Number of users with role=roleName -->
        </tr>
        {{/roles}}
      </tbody>
    </table>
  </div>

  <div>
	  <ul class="nav nav-tabs nav-justified" id = "myTabs" role="tablist">
	    <li class="nav-item active"><a class = "nav-link" data-toggle="tab" href="#CoursePill_1" role = "tab">{{#str}}enrolledusers, tool_supporter{{/str}}</a></li>
	    <li class = "nav-item"><a class = "nav-link" data-toggle="tab" href="#CoursePill_2" role = "tab">{{#str}}activities{{/str}}</a></li>
      <li class = 'dropdown'>
         <a class = "dropdown-toggle" href="#" data-toggle="dropdown">{{#str}}roles{{/str}}</a>
         <ul class="dropdown-menu" id="roledropdown">
            {{#rolesincourse}}
            <li><input type="checkbox" value="{{{.}}}" name="rolesincourse" id="rolesincourse"> {{{.}}}</li> <!--filter user list by selecting wanted role-->
            {{/rolesincourse}}
        </ul>
      </li>
	 </ul>
 </div>


  <div class="tab-content">
    <div id="CoursePill_1" class="tab-pane active" role="tabpanel">
        <!--table of users in this course-->
      <div class="table-responsive">
        <table class = "table-condensed table-hover table-striped" id = "{{uniqid}}-userincourse" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>ID {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
              <th>{{#str}}username{{/str}} {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
              <th>{{#str}}firstname{{/str}} {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
              <th>{{#str}}lastname{{/str}} {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
              <th>{{#str}}roles{{/str}} {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
            </tr>
          </thead>
          <tbody>
            {{#users}}
            <tr>
              <td>{{id}}</td>
              <td>{{username}}</td>
              <td>{{firstname}}</td>
              <td>{{lastname}}</td>
              <td>{{roles}}</td>
            </tr>
            {{/users}}
          </tbody>
        </table>
      </div>
    </div>

    <div id="CoursePill_2" class="tab-pane fade" role="tabpanel">
      <!--table of activites in this course-->
      <div class="table-responsive">
        <table class = "table-condensed table-hover table-striped" id = "{{uniqid}}-activityInCourse" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>{{#str}}sectionname{{/str}}</th>
              <th>{{#str}}activity{{/str}}</th>
              <th>{{#str}}name{{/str}}</th>
              <th>{{#str}}visible{{/str}}</th>
            </tr>
          </thead>
          <tbody>
            {{#activities}}
            <tr>
              <td>{{section}}</td>
              <td>{{activity}}</td>
              <td>{{name}}</td>
              <td>{{visible}}</td>
            </tr>
            {{/activities}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{#js}}
 require(['jquery','tool_supporter/table_search', 'tool_supporter/table_sort', 'tool_supporter/datatables', 'tool_supporter/load_information'],
      function($, search, sort, dataTable, click_on_user) {

  dataTable.use_dataTable('#{{uniqid}}-userincourse');  //Convert table to DataTable
  dataTable.use_dataTable("#{{uniqid}}-activityInCourse");  //Convert table to DataTable

  search.filterEvent('rolesincourse','#{{uniqid}}-userincourse', '#roledropdown', 4);

  //Load information about the clicked user
  click_on_user.click_on_user('#{{uniqid}}-userincourse' + ' tbody');

  //selecting the active table by using click-Event
  tabTableID = "#{{uniqid}}-userincourse";
  $('#myTabs a').click(function(e){
    var activeTab = e.target.getAttribute('href');
    if(activeTab == "#CoursePill_1"){
      tabTableID = "#{{uniqid}}-userincourse";
    }
    else if(activeTab == "#CoursePill_2"){
      tabTableID = "#{{uniqid}}-activityInCourse";
    };
  });
});

require(['tool_supporter/load_information'], function(load_information){
  load_information.hide_course_detail();
  load_information.toggle_course_visibility();
});

{{/js}}
