{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

  Documentation gets here!
  --- wird unter der Template-Library gespeichert unter admin/tool/templatelibrary

    @template tool_supporter/course_table

    Starting point for an awesome template.

}}
<div class = "container">
  <ul class="nav nav-pills">
    <li class = "navbar-search pull-left">
      <input id="{{uniqid}}-courseSearchInput" type="text" name = "searchfield" class="search-query" placeholder = "Suchen">
      <!-- <button type="submit" class="btn">Search</button>-->
    </li>
  </ul>

  <div class="table-responsive">
  <table id = "myTable" class = "table-condensed table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>FB (direct course category)</th>
        <th>Semester</th>
        <th>visible</th>
      </tr>
    </thead>
    <tbody id="{{uniqid}}-courseTableBody" data-region="user_table_body">
      {{#courses}}
      <tr>
        <td>{{id}}</td>
        <td>{{fullname}}</td>
        <td>{{fb}}</td>
        <td>{{semester}}</td>
        <td>{{visible}}</td>
      </tr>
      {{/courses}}
    </tbody>
  </table>
  </div>
</div>

{{#js}}
require(['jquery'], function($){
  $(document).ready(function()
      {
          $(#myTable).DataTable();
      }
  );
}
 require(['tool_supporter/table_search'], function(search){
   search.searchEvent('#{{uniqid}}-courseSearchInput','#{{uniqid}}-courseTableBody');
 });
 require(['tool_supporter/load_information'], function(click_on_course){
   click_on_course.click_on_course('#{{uniqid}}-courseTableBody');
 });

{{/js}}
