{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

    @template tool_supporter/course_table

    Template which outputs a table of courses.

    Classes required for JS:
    * dataTables

    Context variables required for this template:
    * headings - array: An array of table headings.
    * rows - array: An array of content rows for the table.

    Example Input structure:
    Array ( [courses] =>
    	Array
    	(
    		[12] => Array (
          [id] => 51
          [fullname] => FB01 Kurs full name
          [visible] => 1
          [fb] => FB01 Rechts- und Wirtschaftswissenschaften
          [semester] => WiSe 2016/17 )
    		[13] => Array (
          [id] => 52
          [fullname] => FB02 Kurs full name
          [visible] => 1
          [fb] => FB02 Gesellschafts- und Geschichtswissenschaften
          [semester] => WiSe 2016/17 )
    	)
    )

}}
<div data-region="course_table"  class="well well-sm">
  <!--
  <ul class="nav nav-pills">
    <li class = "navbar-search pull-left">
      <input id="{{uniqid}}-courseSearchInput" type="text" name = "searchfield" class="search-query" placeholder = "Suchen">
    </li>
  </ul>
-->

  <div class="table-responsive">
  <table id = "{{uniqid}}-courseTable" class = "datatable table-condensed table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>ID {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
        <th>{{#str}}fullnamecourse{{/str}} {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
        <th>{{#str}}department, tool_supporter{{/str}} {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
        <th>{{#str}}semester, tool_supporter{{/str}} {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
        <th>{{#str}}visible{{/str}} {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
      </tr>
    </thead>
    <tbody data-region="user_table_body">
      {{#courses}}
      <tr>
        <td>{{id}}</td>
        <td>{{fullname}}</td>
        <td>{{fb}}</td>
        <td>{{semester}}</td>
        <td>{{visible}}</td>
      </tr>
      {{/courses}}
    </tbody>
  </table>
  </div>
</div>

{{#js}}
 require(['tool_supporter/table_search', 'tool_supporter/load_information', 'tool_supporter/datatables', 'tool_supporter/table_sort'],
        function(search, click_on_course, dataTable, sort){
   search.searchEvent('#{{uniqid}}-courseSearchInput','#{{uniqid}}-courseTable' + ' tbody'); //Add search functionality to the search field
   click_on_course.click_on_course('#{{uniqid}}-courseTable' + ' tbody'); //Load information about the clicked course
  // dataTable.use_dataTable('#{{uniqid}}-courseTable'); //Convert table to DataTable
  // sort.sortTable('#{{uniqid}}-courseTable'); //Slow version to sort tables by headers
 });
{{/js}}
