{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

    @template tool_supporter/index_page
    Template which displays the Header / Navbar of the supporter

}}
<nav class="navbar navbar-default">
    <div class = "navbar-inner">
        <!-- 
        <a class="brand navbar-brand" href={{wwwroot}} data-toggle="tooltip" title="{{#str}}backto, core, Moodle{{/str}}">{{#pix}} f/moodle, core, {{/pix}}</a>
        <a class="brand navbar-brand" href="#">Supporter</a>
         -->
            
        <ul class="nav navbar-nav float-right pull-right">
            <li class = "nav-item">
                <button href="#" class="btn btn-secondary" role="button" id="btn_show_new_course">{{#str}}addnewcourse{{/str}}</button>
            </li>

            <li class = "nav-item">
	            <a href="{{wwwroot}}/admin/settings.php?section=tool_supporter" target="_blank" class="btn btn-default" role="button" data-toggle="tooltip" title="{{#str}}settings{{/str}}">
	                {{#pix}} i/settings, core, {{#str}}settings{{/str}} {{/pix}}
	            </a>
            </li>
        </ul>
        
    </div>
</nav>

{{#js}}
require(['tool_supporter/create_new_course'], function(show_new_course){
  show_new_course.show_new_course();
});
{{/js}}
