{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

  Documentation gets here!
  --- wird unter der Template-Library gespeichert unter admin/tool/templatelibrary

    @template tool_supporter/user_table

    Starting point for an awesome template.

}}

<!--View details after clicking on a user in user table.  -->
<div style="display: none" data-region="user_details" class="well well-sm">
  <div class="navbar" >
    <div class="navbar-inner">
      <ul class="nav">
        <li><p class="brand"><a href="{{edituserlink}}" target="_blank">{{#userinformation}}{{username}}{{/userinformation}}</a></p></li>
        <li><p class="navbar-btn"><a href="{{loginaslink}}" target="_blank" class="btn btn-default">{{#str}}loginas{{/str}}</a></p></li>
        <li><p class="navbar-btn"><a href="{{edituserlink}}" target="_blank" class="btn btn-default">{{#str}}edituser{{/str}}</a></p></li>
        <li><p class="navbar-btn"><a href="#" class="btn btn-default" id="hide_user">{{#str}}hide{{/str}}</a></p></li>
      </ul>
    </div>

<br>
<!-- Enrol the user into the course -->
{{> tool_supporter/enrolusersection}}

<!--Show user details  -->
    <table class = "table-condensed table-hover table borderless">
      <tbody>
        {{#userinformation}}
        <tr>
          <th>ID</th>
          <td id="selecteduserid">{{id}}</td>
        </tr>
        <tr>
          <th>{{#str}}username{{/str}}</th>
          <td>{{username}}</td>
        </tr>
        <tr>
          <th>{{#str}}firstname{{/str}}</th>
          <td>{{firstname}}</td>
        </tr>
        <tr>
          <th>{{#str}}lastname{{/str}}</th>
          <td>{{lastname}}</td>
        </tr>
        <tr>
          <th>{{#str}}email{{/str}}</th>
          <td>{{email}}</td>
        </tr>
        <tr>
          <th>{{#str}}timecreateduser, tool_supporter{{/str}}</th>
          <td>{{timecreated}}</td>
        </tr>
        <tr>
          <th>{{#str}}timemodifieduser, tool_supporter{{/str}}</th>
          <td>{{timemodified}}</td>
        </tr>
        {{/userinformation}}
      </tbody>
    </table>
  </div>

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">{{#str}}courses{{/str}}</a>
      <ul class="nav">
        <li class="dropdown">
          <a class = "dropdown-toggle" href="#" data-toggle="dropdown">{{#str}}department, tool_supporter{{/str}}</a>
          <ul class="dropdown-menu" id="departmentdropdown">
            {{#uniquecategoryname}}
            <li><input type="radio" value="{{{.}}}" name="departmentradios"  id="departmentradios"> {{{.}}}</li><!--filter course list by selecting wanted parent-->
            {{/uniquecategoryname}}
          </ul>
        </li>
        <li class="dropdown">
          <a class = "dropdown-toggle" href="#" data-toggle="dropdown">{{#str}}semester, tool_supporter{{/str}}</a>
          <ul class="dropdown-menu" id="semesterdropdown">
            {{#uniqueparentcategory}}
            <li><input type="radio" value="{{{.}}}" name="semesterradios" id="semesterradios"> {{{.}}}</li> <!--filter course list by selecting wanted grand parent-->
            {{/uniqueparentcategory}}
          </ul>
        </li>
        <form class="navbar-search pull-right">
          <input type="text" id="usercoursessearch" class="search-query" placeholder="{{#str}}search{{/str}}">
        </form>
      </ul>
    </div>

    <div class="table-responsive">
    <table class = "table-condensed table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>{{#str}}fullnamecourse{{/str}}</th>
          <th>{{#str}}department{{/str}}</th>
          <th>{{#str}}roles{{/str}}</th>
          <th>{{#str}}semester, tool_supporter{{/str}}</th>
          <th>{{#str}}visible{{/str}}</th>
        </tr>
      </thead>
      <tbody id="userdetailcourses">
        {{#userscourses}}
        <tr>
          <td>{{id}}</td>
          <td>{{fullname}}</td>
          <td>{{categoryname}}</td> <!-- TUD intern: Fachbereiche -->
          <td>{{roles}}</td> <!-- TUD intern: Fachbereiche -->
          <td>{{parentcategory}}</td> <!-- TUD intern: Semester -->
          <td>{{visible}}</td>
        </tr>
        {{/userscourses}}
      </tbody>
    </table>
    </div>
  </div>
</div>


{{#js}}
require(['tool_supporter/table_search'], function(search){
  //for input field
  search.searchEvent('#usercoursessearch','#userdetailcourses');
  //for radio buttons in dropdown
  search.searchEvent('departmentradios','#userdetailcourses', '#departmentdropdown');
  search.searchEvent('semesterradios','#userdetailcourses', '#semesterdropdown');
});

require(['tool_supporter/load_information'], function(hide_user){
  hide_user.hide_user();
});
{{/js}}
