{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

  Documentation gets here!

      @template tool_supporter/user_detail
      Template which outputs the details of a user.

      Classes required for JS:
      * dataTables

      Context variables required for this template:
      * uniqueparentcategory - array: An array of unique parent categories for filtering.
      * uniquecategoryname - array: An array of unique categiry names for filtering.
      * userscourses - array of arrays: courses in which the user is enrolled in with further information
      * userinformation - array: Data of the user
      * loginaslink - array: Link to login as the user
      * profilelink - array: Link to the profile of the user
      * edituserlink - array: Link to editing the user

      Example Input structure:

    Array
    (
        [uniqueparentcategory] => Array
            (
                [0] => WiSe 2016/17
                [1] => SS 17
            )

        [uniquecategoryname] => Array
            (
                [0] => FB01 Rechts- und Wirtschaftswissenschaften
                [1] => FB02 Gesellschafts- und Geschichtswissenschaften
                [2] => FB03 Humanwissenschaften
            )

        [userscourses] => Array
            (
                [5] => Array
                    (
                        [id] => 50
                        [category] => 9
                        [sortorder] => 40001
                        [shortname] => FB03 Kurs short name
                        [fullname] => FB03 Kurs full name
                        [idnumber] =>
                        [startdate] => 1485187200
                        [visible] => 0
                        [defaultgroupingid] => 0
                        [groupmode] => 0
                        [groupmodeforce] => 0
                        [ctxid] => 780
                        [ctxpath] => /1/775/779/780
                        [ctxdepth] => 4
                        [ctxlevel] => 50
                        [ctxinstance] => 50
                        [categoryname] => FB03 Humanwissenschaften
                        [parentcategory] => WiSe 2016/17
                        [roles] => Array
                            ([0] => manager
                             [1] => editingteacher
                             [2] => student)
                    )
            )

        [userinformation] => Array
            (
                [id] => 3
                [auth] => manual
                [confirmed] => 1
                [policyagreed] => 0
                [deleted] => 0
                [suspended] => 0
                [mnethostid] => 1
                [username] => username1
                [password] => $2y$10$e1yTx2LyNxw1msfRaWZ5IOM/y7mTNR65CM.0OY4M7wjAZGE5L7EG.
                [idnumber] =>
                [firstname] => First Name 1
                [lastname] => Surname 1
                [email] => dummy@gmx.se
                [emailstop] => 0
                [icq] =>
                [skype] =>
                [yahoo] =>
                [aim] =>
                [msn] =>
                [phone1] =>
                [phone2] =>
                [institution] =>
                [department] =>
                [address] =>
                [city] =>
                [country] =>
                [lang] => en
                [calendartype] => gregorian
                [theme] =>
                [timezone] => 99
                [firstaccess] => 0
                [lastaccess] => 0
                [lastlogin] => 0
                [currentlogin] => 0
                [lastip] =>
                [secret] =>
                [picture] => 0
                [url] =>
                [description] =>
                [descriptionformat] => 1
                [mailformat] => 1
                [maildigest] => 0
                [maildisplay] => 2
                [autosubscribe] => 1
                [trackforums] => 0
                [timecreated] => Monday, 01-Aug-16 16:18:17 WST
                [timemodified] => Monday, 01-Aug-16 16:18:17 WST
                [trustbitmask] => 0
                [imagealt] =>
                [lastnamephonetic] =>
                [firstnamephonetic] =>
                [middlename] =>
                [alternatename] =>
            )
        [loginaslink] => Array
            (
                [0] => http://127.0.0.1/course/loginas.php?id=1&user=3&sesskey=8vj0eTuAj7
            )

        [profilelink] => Array
            (
                [0] => http://127.0.0.1/user/profile.php?id=3
            )

        [edituserlink] => Array
            (
                [0] => http://127.0.0.1/user/editadvanced.php?id=3
            )


}}

<!--View details after clicking on a user in user table.  -->
<div style="display: none" data-region="user_details" class="well well-sm">
  <div class="navbar" >
    <div class="navbar-inner">
      <ul class = "nav">
        <li><p class="brand"><a href="{{edituserlink}}" target="_blank">{{#userinformation}}{{username}}{{/userinformation}}</a></p></li>
      </ul>
      <ul class="nav pull-right">
        <li data-toggle="tooltip" title="{{#str}}loginas{{/str}}"><p class="navbar-btn"><a href="{{loginaslink}}" target="_blank" class="btn btn-default">
          <span>{{#pix}} i/permissionlock, core, {{#str}}loginas{{/str}} {{/pix}}</span>
        </a></p></li>
        <li data-toggle="tooltip" title="{{#str}}edituser{{/str}}"><p class="navbar-btn"><a href="{{edituserlink}}" target="_blank" class="btn btn-default">
          <span>{{#pix}} i/edit, core, {{#str}}edituser{{/str}} {{/pix}}</span>
        </a></p></li>
        <li data-toggle="tooltip" title="{{#str}}hide{{/str}}"><p class="navbar-btn"><a href="#" class="btn btn-default" id="hide_user_details">
          <span>{{#pix}} t/dropdown, core, {{#str}}hide{{/str}} {{/pix}}</span>
        </a></p></li>
      </ul>
    </div>

<br>
<!-- Enrol the user into the course -->
{{> tool_supporter/enrolusersection}}

<!--Show user details  -->
    <table class = "table-hover table borderless">
      <tbody>
        {{#userinformation}}
        <tr>
          <th>ID</th>
          <td id="selecteduserid">{{id}}</td>
        </tr>
        <tr>
          <th>{{#str}}username{{/str}}</th>
          <td>{{username}}</td>
        </tr>
        <tr>
          <th>{{#str}}firstname{{/str}}</th>
          <td>{{firstname}}</td>
        </tr>
        <tr>
          <th>{{#str}}lastname{{/str}}</th>
          <td>{{lastname}}</td>
        </tr>
        <tr>
          <th>{{#str}}email{{/str}}</th>
          <td>{{email}}</td>
        </tr>
        <tr>
          <th>{{#str}}timecreateduser, tool_supporter{{/str}}</th>
          <td>{{timecreated}}</td>
        </tr>
        <tr>
          <th>{{#str}}timemodifieduser, tool_supporter{{/str}}</th>
          <td>{{timemodified}}</td>
        </tr>
        {{/userinformation}}
      </tbody>
    </table>
  </div>

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">{{#str}}courses{{/str}}</a>
      <ul class="nav">
        <li class="dropdown">
          <a class = "dropdown-toggle" href="#" data-toggle="dropdown">{{#str}}department, tool_supporter{{/str}}</a>
          <ul class="dropdown-menu" id="departmentdropdown">
            {{#uniquecategoryname}}
            <li><input type="checkbox" value="{{{.}}}" name="departmentradios"  id="departmentradios"> {{{.}}}</li><!--filter course list by selecting wanted parent-->
            {{/uniquecategoryname}}
          </ul>
        </li>
        <li class="dropdown">
          <a class = "dropdown-toggle" href="#" data-toggle="dropdown">{{#str}}semester, tool_supporter{{/str}}</a>
          <ul class="dropdown-menu" id="semesterdropdown">
            {{#uniqueparentcategory}}
            <li><input type="checkbox" value="{{{.}}}" name="semesterradios" id="semesterradios"> {{{.}}}</li> <!--filter course list by selecting wanted grand parent-->
            {{/uniqueparentcategory}}
          </ul>
        </li>
        <form class="navbar-search pull-right">
          <input type="text" id="usercoursessearch" class="search-query" placeholder="{{#str}}search{{/str}}">
        </form>
      </ul>
    </div>

    <div class="table-responsive">
    <table class = "datatable table-condensed table-striped table-hover table-bordered" id="{{uniqid}}-userdetailcourses">
      <thead>
        <tr>
          <th>ID</th>
          <th>{{#str}}fullnamecourse{{/str}} {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
          <th>{{#str}}department, tool_supporter{{/str}} {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
          <th>{{#str}}roles{{/str}} {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
          <th>{{#str}}semester, tool_supporter{{/str}} {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
          <th>{{#str}}visible{{/str}} {{#pix}} t/sort, core, {{#str}}sort{{/str}} {{/pix}}</th>
        </tr>
      </thead>
      <tbody>
        {{#userscourses}}
        <tr>
          <td>{{id}}</td>
          <td>{{fullname}}</td>
          <td>{{categoryname}}</td> <!-- TUD intern: Fachbereiche -->
          <td>{{roles}}</td> <!-- TUD intern: Rollen -->
          <td>{{parentcategory}}</td> <!-- TUD intern: Semester -->
          <td>{{visible}}</td>
        </tr>
        {{/userscourses}}
      </tbody>
    </table>
    </div>
  </div>
</div>


{{#js}}
require(['tool_supporter/table_search', 'tool_supporter/table_sort', 'tool_supporter/datatables', 'tool_supporter/load_information'],
      function(search, sort, dataTable, click_on_course){
  //for input field
  search.searchEvent('#usercoursessearch','#{{uniqid}}-userdetailcourses' + ' tbody');
  //for radio buttons in dropdown
  search.filterEvent('departmentradios','#{{uniqid}}-userdetailcourses', '#departmentdropdown', 2);
  search.filterEvent('semesterradios','#{{uniqid}}-userdetailcourses', '#semesterdropdown', 4);
  //sort Table - slow sorting algorithm
  //sort.sortTable('#{{uniqid}}-userdetailcourses');
//  dataTable.use_dataTable('#{{uniqid}}-userdetailcourses');  //Convert table to DataTable
  click_on_course.click_on_course('#{{uniqid}}-userdetailcourses' + ' tbody'); //Load information about the clicked course
});

require(['tool_supporter/load_information'], function(hide_user_details){
  hide_user_details.hide_user_details();
});
{{/js}}
