{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

  Documentation gets here!

      @template tool_supporter/user_detail
      Template which outputs the details of a user.

      Classes required for JS:
      * dataTables

      Context variables required for this template:
      * uniqueparentcategory - array: An array of unique parent categories for filtering.
      * uniquecategoryname - array: An array of unique categiry names for filtering.
      * userscourses - array of arrays: courses in which the user is enrolled in with further information
      * userinformation - array: Data of the user
      * loginaslink - array: Link to login as the user
      * profilelink - array: Link to the profile of the user
      * edituserlink - array: Link to editing the user

      Example Input structure:

    Array
    (
        [uniqueparentcategory] => Array
            (
                [0] => WiSe 2016/17
                [1] => SS 17
            )

        [uniquecategoryname] => Array
            (
                [0] => FB01 Rechts- und Wirtschaftswissenschaften
                [1] => FB02 Gesellschafts- und Geschichtswissenschaften
                [2] => FB03 Humanwissenschaften
            )

        [userscourses] => Array
            (
                [5] => Array
                    (
                        [id] => 50
                        [category] => 9
                        [sortorder] => 40001
                        [shortname] => FB03 Kurs short name
                        [fullname] => FB03 Kurs full name
                        [idnumber] =>
                        [startdate] => 1485187200
                        [visible] => 0
                        [defaultgroupingid] => 0
                        [groupmode] => 0
                        [groupmodeforce] => 0
                        [ctxid] => 780
                        [ctxpath] => /1/775/779/780
                        [ctxdepth] => 4
                        [ctxlevel] => 50
                        [ctxinstance] => 50
                        [categoryname] => FB03 Humanwissenschaften
                        [parentcategory] => WiSe 2016/17
                        [roles] => Array
                            ([0] => manager
                             [1] => editingteacher
                             [2] => student)
                    )
            )

        [userinformation] => Array
            (
                [id] => 3
                [auth] => manual
                [confirmed] => 1
                [policyagreed] => 0
                [deleted] => 0
                [suspended] => 0
                [mnethostid] => 1
                [username] => username1
                [password] => $2y$10$e1yTx2LyNxw1msfRaWZ5IOM/y7mTNR65CM.0OY4M7wjAZGE5L7EG.
                [idnumber] =>
                [firstname] => First Name 1
                [lastname] => Surname 1
                [email] => dummy@gmx.se
                [emailstop] => 0
                [icq] =>
                [skype] =>
                [yahoo] =>
                [aim] =>
                [msn] =>
                [phone1] =>
                [phone2] =>
                [institution] =>
                [department] =>
                [address] =>
                [city] =>
                [country] =>
                [lang] => en
                [calendartype] => gregorian
                [theme] =>
                [timezone] => 99
                [firstaccess] => 0
                [lastaccess] => 0
                [lastlogin] => 0
                [currentlogin] => 0
                [lastip] =>
                [secret] =>
                [picture] => 0
                [url] =>
                [description] =>
                [descriptionformat] => 1
                [mailformat] => 1
                [maildigest] => 0
                [maildisplay] => 2
                [autosubscribe] => 1
                [trackforums] => 0
                [timecreated] => Monday, 01-Aug-16 16:18:17 WST
                [timemodified] => Monday, 01-Aug-16 16:18:17 WST
                [trustbitmask] => 0
                [imagealt] =>
                [lastnamephonetic] =>
                [firstnamephonetic] =>
                [middlename] =>
                [alternatename] =>
            )
        [loginaslink] => Array
            (
                [0] => http://127.0.0.1/course/loginas.php?id=1&user=3&sesskey=8vj0eTuAj7
            )

        [profilelink] => Array
            (
                [0] => http://127.0.0.1/user/profile.php?id=3
            )

        [edituserlink] => Array
            (
                [0] => http://127.0.0.1/user/editadvanced.php?id=3
            )


}}

<!--View details after clicking on a user in user table.  -->
<div style="display: none; border:1px solid #8a8a8a" id = "user_details" data-region="user_details" class="card">
	<div class="card-header">
		<div class = "float-left">
			<a href={{edituserlink}} target="_blank"><h3>{{#userinformation}}{{firstname}} {{lastname}}{{/userinformation}}</h3></a>
		</div>
		<div class="btn-group mr-2 float-right">
			{{#loginaslink}}
				<a href="{{loginaslink}}" target="_blank" class="btn btn-default" role="button" data-toggle="tooltip" title="{{#str}}loginas{{/str}}">
					{{#pix}}i/signin, tool_supporter, {{#str}}loginas{{/str}}{{/pix}}
				</a>
			{{/loginaslink}}
			{{#isallowedtoupdateusers}}
				<a href="{{edituserlink}}" target="_blank" class="btn btn-default" role="button" data-toggle="tooltip" title="{{#str}}edituser{{/str}}">
					{{#pix}} i/edit, core, {{#str}}edituser{{/str}} {{/pix}}
				</a>
				<a href="{{deleteuserlink}}" target="_blank" class="btn btn-default" role="button" data-toggle="tooltip" title="{{#str}}deleteuser, admin{{/str}}">
					{{#pix}} i/delete, core, {{#str}}deleteuser, admin{{/str}} {{/pix}}
				</a>
			{{/isallowedtoupdateusers}}
			<a href="#" class="btn btn-default" role="button" id="btn_hide_user_details" data-toggle="tooltip" title="{{#str}}hide{{/str}}">
				{{#pix}}i/minus, tool_supporter, {{#str}}collapse{{/str}} {{/pix}}
			</a>
			<a data-toggle="tooltip" title="{{#str}}show{{/str}}" href="#" class="btn btn-default" id="btn_expand_user_details" style="display: none">
				{{#pix}}i/plus, tool_supporter, {{#str}}show{{/str}} {{/pix}}
			</a>
		</div>
	</div>

    <div class="card-block" id="user_details_body">
		<!-- Enrol the user into the course -->
		<br>
        {{> tool_supporter/enrolusersection}}
		<br> 
		
		<!-- Show user details  -->
        <table class = "table borderless">
          <tbody>
            {{#userinformation}}
            <tr>
              <th>ID</th>
              <td id="selecteduserid">{{id}}</td>
            </tr>
            <tr>
              <th>{{#str}}username{{/str}}</th>
              <td>{{username}}</td>
            </tr>
            <tr>
              <th>{{#str}}firstname{{/str}}</th>
              <td>{{firstname}}</td>
            </tr>
            <tr>
              <th>{{#str}}lastname{{/str}}</th>
              <td>{{lastname}}</td>
            </tr>
            <tr>
              <th>{{#str}}email{{/str}}</th>
              <td>{{email}}</td>
            </tr>
            <tr>
              <th>{{#str}}eventusercreated{{/str}}</th>
              <td>{{timecreated}}</td>
            </tr>
            <tr>
              <th>{{#str}}lastmodified{{/str}}</th>
              <td>{{timemodified}}</td>
            </tr>
            {{/userinformation}}
          </tbody>
        </table>
        <hr>

        <!-- Navigation for users course table -->
          <ul class="nav nav-tabs nav-justified">
            <li class = "nav-item"><a class = "nav-link"><b>{{#str}}courses{{/str}}</b></a></li>
            <li class="nav-item dropdown">
              <a class = "nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">{{#str}}department, tool_supporter{{/str}}<span class="caret"></span></a>
              <!--filter course list by selecting wanted parent-->
              <ul class="dropdown-menu" id="user_detail_departmentdropdown">
                {{#uniquecategoryname}}
                <li class = "dropdown-item"><input type="checkbox" value="{{{.}}}" name="user_detail_departmentcheckbox"  id="user_detail_departmentcheckbox"> {{{.}}}</li>
                {{/uniquecategoryname}}
              </ul>
            </li>
           <!--filter course list by selecting wanted grand parent-->
            <li class="nav-item dropdown">
              <a class = "nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">{{#str}}semester, tool_supporter{{/str}}<span class="caret"></span></a>
              <ul class="dropdown-menu" id="user_detail_semesterdropdown">
                {{#uniqueparentcategory}}
                <li class = "dropdown-item"><input type="checkbox" value="{{{.}}}" name="user_detail_semestercheckbox" id="user_detail_semestercheckbox"> {{{.}}}</li>
                {{/uniqueparentcategory}}
              </ul>
            </li>
         </ul>

       <!--Table showing users courses-->
        <div> 
            <table class = "table table-responsive stripe hover row-border compact" id="{{uniqid}}-userdetailcourses" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>{{#str}}fullnamecourse{{/str}}</th>
                  <th>{{#str}}department, tool_supporter{{/str}}</th>
                  <th>{{#str}}roles{{/str}}</th>
                  <th>{{#str}}semester, tool_supporter{{/str}}</th>
                  <th>{{#str}}visible{{/str}}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#userscourses}}
                <tr>
                  <td>{{id}}</td>
                  <td>{{fullname}}</td>
                  <td>{{categoryname}}</td> <!-- TUD intern: Fachbereiche -->
                  <td>{{roles}}</td> <!-- TUD intern: Rollen -->
                  <td>{{parentcategory}}</td> <!-- TUD intern: Semester -->
                  <td>{{visible}}</td>
			      <td><a href="{{wwwroot}}/enrol/unenroluser.php?id={{id}}&ue={{#userinformation}}{{id}}{{/userinformation}}" target="_blank">
				  	{{#pix}} i/delete, core, {{#str}}unenrol, enrol{{/str}}{{/pix}}
				  </a></td>
                </tr>
                {{/userscourses}}
              </tbody>
            </table>
		</div>
		
    </div>
</div>

{{#js}}
require(['tool_supporter/table_filter', 'tool_supporter/table_sort', 'tool_supporter/datatables', 'tool_supporter/load_information'],
	function(search, sort, dataTable, load_information){

		//Convert table to DataTable and add filter functionality to dropdown-menue
		dataTable.use_dataTable('#{{uniqid}}-userdetailcourses', [['user_detail_departmentcheckbox', '#user_detail_departmentdropdown', 2], ['user_detail_semestercheckbox', '#user_detail_semesterdropdown', 4]]);
		
		//Load information about the clicked course
		load_information.click_on_course('#{{uniqid}}-userdetailcourses');
		
		load_information.hide_user_details();
		load_information.expand_user_details();
	});
{{/js}}
