{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_supporter/user_table
    Template which outputs a table of users.

    Classes required for JS:
    * dataTables

    Context variables required for this template:
    * users - array of arrays: user details to be displayed in a table.

    Example Input structure:
    Array ( [users] =>
    	Array (
    	[0] => Array (
    		[id] => 1
    		[username] => guest
    		[firstname] => Guest user
    		[lastname] =>
    		[email] => root@localhost )
    	[1] => Array (
    		[id] => 2 [username] => admin
    		[firstname] => Admin
    		[lastname] => User
    		[email] => dummy@gmx.de )
    	)
    )

}}
<div style="display: none" data-region="user_table"  class="well well-sm">
  <!--
  <form class = "navbar-search pull-left">
    <input id="{{uniqid}}-userSearchInput" type="text" name = "searchfield" class="search-query" placeholder = "Suchen">
  </form>
-->

  <div class="table-responsive">
  <table class = "datatable stripe hover row-border compact" id = "{{uniqid}}-userTable" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>ID  </th>
        <th>{{#str}}username{{/str}}  </th>
        <th>{{#str}}firstname{{/str}}  </th>
        <th>{{#str}}lastname{{/str}}  </th>
        <th>{{#str}}email{{/str}}  </th>
      </tr>
    </thead>
    <tbody>
      {{#users}}
      <tr>
        <td>{{id}}</td>
        <td>{{username}}</td>
        <td>{{firstname}}</td>
        <td>{{lastname}}</td>
        <td>{{email}}</td>
      </tr>
      {{/users}}
    </tbody>
  </table>
  </div>
</div>

{{#js}}
 require(['tool_supporter/load_information'],
        function(click_on_user){
   click_on_user.click_on_user('#{{uniqid}}-userTable' + ' tbody'); //Load information about the clicked user

 });
{{/js}}
