<div class="panel panel-default">
    <div class="panel-body">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Suche</div>
                    <input type="text" class="form-control" placeholder="Benutzer suchen" ng-model="searchUser">
                </div>
            </div>
        </form>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <th ng-click="sortType = 'id'; sortReverse = !sortReverse;">ID</th>
                <th ng-click="sortType = 'username'; sortReverse = !sortReverse;">username</th>
                <th ng-click="sortType = 'firstname'; sortReverse = !sortReverse;">firstname</th>
                <th ng-click="sortType = 'lastname'; sortReverse = !sortReverse;">lastname</th>
                <th ng-click="sortType = 'email'; sortReverse = !sortReverse;">email</th>
            </thead>
            <tbody>
                <tr ng-repeat="id in users | filter:searchUser | orderBy:sortType:sortReverse | limitTo:100" ng-click="setUser(id);">
                    <td>{{id.id}}</td>
                    <td>{{id.username}}</td>
                    <td>{{id.firstname}}</td>
                    <td>{{id.lastname}}</td>
                    <td>{{id.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>